<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HyperBidAndroidDemo"
        tools:targetApi="35">

        <activity
            android:name=".AppOpenWithUMPActivity"
            android:exported="false" />

        <activity
            android:name=".MediationDebuggerActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9488501426181082~7493553421" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".AppOpenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Main" />
        <activity
            android:name=".NativeAdActivity"
            android:exported="false"
            android:label="Native" />
        <activity
            android:name=".NativeMainActivity"
            android:exported="false" />
        <activity
            android:name=".RewardVideoAdActivity"
            android:exported="false"
            android:label="RewardedVideo" />
        <activity
            android:name=".InterstitialAdActivity"
            android:exported="false"
            android:label="Interstitial" />
        <activity
            android:name=".BannerAdActivity"
            android:exported="false"
            android:label="Banner" />
        <activity
            android:name=".SplashAdActivity"
            android:exported="false"
            android:label="Splash" />

        <meta-data
            android:name="hw_ads_sdk_type"
            android:value="6"
            tools:node="replace" />
    </application>

</manifest>